@import "./_settings";
@import "./components/navigation";
@import "./pages/_home";
@import "./pages/_knowledge";
@import "./pages/_notFound";
@import "./pages/_portfolio";
@import "./pages/_contacts";
@import "./pages/background";

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#8c2d3e, #4a010f);
  border-radius: 25px;
}
