.contactContent {
    background: linear-gradient(0deg, $color-1 10%, transparent 100%);
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    box-shadow: 3px 3px 3px $black;
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: inherit;
        background: url("../../media/map.jpg") no-repeat center/cover;
        z-index: -1;
        filter: brightness(80%);
    }

    .contactBox {
        position: absolute;
        background: $color-5;
        height: 35%;
        margin-top: 15rem;
        margin-left: 15rem;
        padding: 1rem 3rem;
        border-radius: $borderRadius;
        box-shadow: 0 3px 10px #333;
        width: 50%;
        min-width: 440px;
        min-height: 200px;
        

        @media screen and (max-width: 1121px) {
            width: 40%;
        }

        @media screen and (max-width: 1025px) {
            margin-left: 12rem;
        }

        @media screen and (max-width: 852px) {
            margin-top: 10rem;
        }

        @media screen and (max-width: 801px) {
            margin-top: 10rem;
            margin-left: 12rem;
        }

        @media screen and (max-width: 600px) {
            width: 30%;
            margin-left: 5rem;
        }

        @media screen and (max-width: 420px) {
            margin-left: 4.2rem;
            padding-left: 1rem;
        }

        @media screen and (max-width: 320px) {
            padding-left: 0;
        }

        h1 {
            text-align: center;
            margin-top: 0.3rem;
            position: relative;
            color: $color-2;

            @media screen and (max-width: 480px) {
                font-size: 1.5rem;
            }

            @media screen and (max-width: 320px) {
                padding-left: 3.5rem;
            }
    

            &:after {
                content: "";
                height: 1px;
                width: 50%;
                background: $color-1;
                position: absolute;
                bottom: -25px;
                left: 50%;
                transform: translateX(-50%);

                @media screen and (max-width: 320px) {
                    margin-left: 1.8rem;
                    
                }
            }
        }
        ul {
            height: 72%;
            width: inherit;
            display: grid;
            margin-top: 2.5rem;

            li {
                position: relative;
            }

            i {
                font-size: 1.4rem;
                position: absolute;
                transform: translateY(2px);
                color: $color-2;

                @media screen and (max-width: 420px) {
                    font-size: 1rem !important;
                }
            }

            span {
                color: black;
                font-size: 1.4rem;
                position: absolute;
                transform: translateX(52px);
                background: transparent;
                border: none;
                outline: none;
                width: 350px;
                transition: 0.2s ease;

                @media screen and (max-width: 420px) {
                    font-size: .8rem !important;
                }

            }

            .clickInput:hover {
                transform: translateX(56px);
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .contactContent {
        .contactBox {
            min-width: 70% !important;
        }
        span {
            font-size: 0.9rem !important;
        }
        h4 {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 350px) {
    .contactContent {
        .contactBox {
            min-width: 70% !important;
            margin-left: 3rem;
        }
        i {
            font-size: 1rem !important;
            padding-left: 1rem;
        }
        h4 {
            font-size: 0.5rem;
        }
    }
}

